body {
  background-image: url("./WeatherBG.png");
  background-size: cover;
}

#current-weather {
  display: flex;
  justify-content: center;
}


#forecast-weather {
  display: flex;
  justify-content: center;
}

